{% extends 'base.html.twig' %}
{% block title %}Blog Symfony | liste des Goodies!{% endblock %}


{% block body %}
    <h1 class="display-4 text-center my-4">Liste des Goodies </h1>

<div class="row d-flex justify-content-center">
    {% for lister in liste %}

        {#<div class="col-md-3 border border-secondary rounded mr-1 mb-1 text-center">
            <div><img src="/uploads/images/{{lister.photo}}" alt="" style="max-width: 100%; height: 20vh;"></div><hr>
            <p>{{lister.description|slice(3,200)|raw}}... </p><hr>
            <p>{{ lister.prix }}€</p><hr>

        </div>#}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="/uploads/images/{{lister.photo}}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{lister.description|slice(3,200)|raw}}</h5>
                    <p class="card-text">{{ lister.prix }}€</p>
                    <hr>
                    <p><a class="btn btn-secondary" href="{{ path('viewGoodies',{'id': lister.id}) }}" role="button">View details &raquo;</a></p>
                    <p><a class="btn btn-secondary" href="{{ path('addToCart', {'id': lister.id}) }}">Ajouter au Panier</a></p>


                </div>
            </div>
        </div>

        {# date() filtre twig qui permet d'afficher la date et l'heure #}
        {# newArticle.createAt: la bdd renvoie un objet datetime , il n'est pas possible de convertir un objet en une chaine de caractere  #}
        {# sans filtre twig raw , mes balises <p></p> s'affiche , nous utlisons ce filtre pour l'affichage brut #}
    {% endfor %}

    {% endblock %}