{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style_menu.css') }}">
	<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
	<link rel="stylesheet" href="{{ asset('css/all.css') }}">
{% endblock %}

{% block title %}{{'Contacts'}}{% endblock %}

{% block body %}
	<div class="container d-flex">
		<div class="part_left col-12 col-md-8">
			<h1 class="display-4 text-center my-4">Contactez nous</h1>
			{{ form_start(form, {'attr' : {'class' : 'part_all  rounded col-md-4 mx-auto'}} ) }}
			{{ form_row(form.Nom,  {'attr' : {'class' : 'border border-dark'}},
				{'label' : "Username"}) }}
			{{ form_row(form.email, {'attr' : {'class' : 'border border-dark'}},
				{'label' : "Email"}) }}
			{{ form_row(form.sujet,  {'attr' : {'class' : 'border border-dark'}},
				{'label' : "Sujet"}) }}
			{{ form_row(form.message,  {'attr' : {'class' : 'border border-dark'}},
				{'label' : "Message"}) }}
			<button class="style_bouton btn btn-dark border border-light" type="submit">Envoyer</button>
			{{ form_end(form)}}
		</div>

		<div class="part_right col-12 col-md-4">
			<h1 class="title_contact">{{ 'Contacts' }}</h1>
			<div class="paragraphe_style">
                <p> 
					<h1>info stampwish</h1>    
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure molestiae laudantium cupiditate? 
					Quaerat, laudantium animi alias eum voluptatum magni illum dolorem enim officiis iusto inventore 
					vel corrupti eos incidunt! Minus?
                </p>
            </div>
		</div>
	</div>

{% endblock %}

