<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Précieuses Timbrées{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style_profil.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login.css') }}">

        {% endblock %}

    </head>
    <body>
       <nav>
           <label class="logo">PrécieusesT</label>
           <ul>
               <li><a href="{{ path('accueil') }}" class="active">Accueil</a></li>
               <li><a href="{{ path('concept') }}">Concept</a></li>
               {% if app.user %}
                   <li>
                       <a href="{{ path("profil", {"id" : app.session}) }}">Mon Compte</a>

                   </li>
               {% endif %}
               <li><a href="{{ path('contact') }}">Contact</a></li>
               <li><a href="{{ path('cart') }}">Panier ({{ render(controller('App\\Controller\\CartController::countAndSumCart')) }})</a></li>
               {% if not app.user %}
                   <li class="nav-item">
                       <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                   </li>
               {% else %}
                   <li class="nav-item">
                       <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                   </li>
               {% endif %}

               {% if is_granted('ROLE_ADMIN') %}
               <li>
                   <a href="{{ path('easyadmin') }}">BackOffice</a>
               </li>
               {% endif %}

           </ul>
           <label id="icon">
               <i class="fas fa-bars"></i>
           </label>
       </nav>

        {% block body %}
        {% endblock %}




        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script type="text/javascript" src="js/app.js"></script>
        {% endblock %}
    </body>
</html>
